@font-face {
  font-family: 'helvetica';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'helvetica';
  font-style: normal;
  font-weight: 400;
}
body {
  font-family: 'helvetica';
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'helvetica';
}
